<!DOCTYPE html>
<html>
<h1>TEST</h1>
<head>
  <title>TEST</title>
  <ul class="nav nav-tabs">
    <li> <a href="/site_m/index"> Index</a></li>
    <li class="active"><a href="/site_m/mapp">Mapp</a></li>
    <li ><a href="/site_m/workpage">Work</a></li>
  </ul>


</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6">"Это тестовые блоки, полагаясь на которые, будут опрделяться дальнейшие действи разработчиков
      Это тестовые блоки, полагаясь на которые, будут опрделяться дальнейшие действи разработчиков
      <p><%= @dat %></p>

      <a href="/site_m/workpage">workpage</a>
    </div>
    <div class="col-md-6">"Это тестовые блоки, полагаясь на которые, будут опрделяться дальнейшие действи разработчиков</div>
    <div class="col-md-6">"Это тестовые блоки, полагаясь на которые, будут опрделяться дальнейшие действи разработчиков</div>


  </div>
</div>

</body>
</html>